body::before{
    display: block;
    content: '';
    height: 60px;
}

@media(min-width: 768px) {
    .news-input{
        width: 50%;
    }
}

.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.card {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
